---
WarningsAsErrors: '*'
Checks: [
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  misc-*,
  clang-analyzer-*,

  modernize-avoid-c-style-cast,
  modernize-concat-nested-namespaces,
  modernize-loop-convert,
  modernize-macro-to-enum,
  modernize-pass-by-value,
  modernize-redundant-void-arg,
  modernize-replace-disallow-copy-and-assign-macro,
  modernize-return-braced-init-list,
  modernize-unary-static-assert,
  modernize-use-bool-literals,
  modernize-use-constraints,
  modernize-use-designated-initializers,
  modernize-use-equals-default,
  modernize-use-equals-delete,
  modernize-use-nodiscard,
  modernize-use-noexcept,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-structured-binding,
  
  -bugprone-easily-swappable-parameters,
  -readability-magic-numbers,
  -readability-uppercase-literal-suffix,
  -misc-non-private-member-variables-in-classes,
]

CheckOptions:
  - key: readability-identifier-length.MinimumVariableNameLength
    value: 0
  - key: readability-identifier-length.MinimumParameterNameLength
    value: 2
  - key: readability-identifier-length.IgnoredParameterNames
    value: x|y|z|w|r|g|b|a|^[_]$
  - key: performance-unnecessary-value-param.AllowedTypes
    value: 'mini::StringView'
