# build
bin/
lib/
build/
intermediate/

# cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
*.generated.h
*.dir/

# visual studio
.vs/
.vscode/
.history/
packages/
packages.config
*.sln
*.vcxproj
*.vcxproj.filters

# xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

# user-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.userprefs
*.sln.docstates